#game{
  width:100%;
  height: 750px;
  position: relative;
  background-image:url("../images/sky.png");
  background-size: 100% 100%;
  /* background-repeat: no-repeat; */
}
.bird{
  width:30px;
  height:30px;
  position: absolute;
  top:290px;
  left:50%;
  margin-left: -15px;
  /* background-color: red; */
  background-image: url("../images/birds.png");
  transition: top .3s linear;
}
.start{
  width:200px;
  height:60px;
  position: absolute;
  font-weight: bolder;
  left: 50%;
  margin-left: -100px;
  /* background-color: aqua; */
  line-height: 60px;
  text-align: center;
  top:50%;
  transition: all .3s linear;
  cursor: pointer;
}
.start.start-white{
  font-size: 22px;
  color: #fff;
}
.start.start-blue{
  font-size: 26px;
  color: #09f;
}
.score{
  display: none;
  font-size: 24px;
  color: #fff;
  left: 50%;
  font-weight: bolder;
  position: absolute;
  transform: translateX(-50%);
}
.mask{
  position: absolute;
  background-color: black;
  opacity: 0.7;
  top:0;
  left:0;
  right:0;
  bottom: 0;
  display: none;
}
.end{
  position: absolute;
  display: none;
  top:75px;
  text-align: center;
  transform: translateX(-50%);
  left:50%;
}
.end .over{
  font-size: 36px;
  font-weight: bolder;
  color: red;
  padding-bottom: 10px;
}
.end .result,
.end .final-score{
  font-size:20px;
  color:#ff0;
  font-weight: bolder;
  margin-top:20px;  
}
.end .rank-list{
  width: 300px;
  height: 100px;
  margin-top: 20px;
}
.end .rank-list .rank-item{
  color: #09f;
  margin-top: 10px;
  padding: 0 10px;
  font-size: 14px;
  height:40px;
  line-height: 40px;

}
.end .rank-list .rank-degree{
  width:18px;
  height: 18px;
  line-height: 18px;
  display: inline-block;
  background-color: #ff0;
  margin-right:10px;
}
.end .rank-degree.first{
  background-color: #f54545;
}
.end .rank-degree.second{
  background-color: #ff8447;
}
.end .rank-degree.third{
  background-color: #ffac38;
}
.end .rank-score{
  display: inline-block;
  width: 30px;
}
.end .restart{
  font-size: 19px;
  margin-top: 45px;
  color: #09f;
  cursor: pointer;
  font-weight: bolder;
}